<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="../static/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/css/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/css/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/css/nice-select.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../static/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Begin -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <a
              href="/index.html"
              class="header__logo"
              style="
                text-decoration: none;
                font-family: 'Arial', sans-serif;
                font-size: 24px;
                font-weight: bold;
                color: #333;
                text-shadow: 1px 1px 1px #666;
                cursor: pointer;
                display: inline-block;
              "
            >
              JKmodel
            </a>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li><a href="/index.html">首頁</a></li>
                <li class="active">
                  <a href="/shop.html">商城</a>
                </li>
                <li class="shop__sidebar__search">
                  <form action="#">
                    <input type="text" placeholder="搜尋商品..." />
                    <button type="submit">
                      <span class="icon_search"></span>
                    </button>
                  </form>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="header__nav__option">
              <a href="/collection.html"
                ><img src="../static/images/icon/heart.png" alt=""
              /></a>
              <a href="/shopping-cart.html"
                ><img src="../static/images/icon/cart.png" alt="" />
                <span id="shoppingCartCount"></span
              ></a>
              <span id="shoppingCartPrice">元</span>
              <a href="/signIn.html"
                ><i
                  class="fa-regular fa-user"
                  style="color: #000000; margin-left: 10px"
                ></i
              ></a>
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
    <!-- Header End -->

    <!-- ===================================================== -->
    <!-- ***************************************************** -->

    <div
      class="page-header"
      style="
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="container">
        <div class="row">
          <div
            class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto mb-5"
          >
            <div
              class="card card-plain mt-8 mb-5"
              style="
                box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
                padding-top: 10px;
              "
            >
              <div class="card-header pb-0 text-left bg-transparent">
                <h5>輸入驗證碼</h5>
                <p class="text-lead text-black mb-0">
                  驗證碼已發送至您的註冊信箱，請輸入驗證碼完成註冊
                </p>
              </div>

              <div class="card-body mt-0">
                <form role="form">
                  <label>Verification-code</label>
                  <div class="mb-2 mt-1">
                    <input
                      type="text"
                      class="form-control"
                      id="verificationCode"
                      placeholder="請輸入驗證碼"
                      aria-label="verification-code"
                      aria-describedby="verification-code-addon"
                    />
                  </div>
                  <div class="row">
                    <div class="col-6 mb-0 mt-4">
                      <a
                        href="#"
                        id="submit"
                        class="btn btn-outline-dark"
                        style="width: 100%"
                        >送出驗證</a
                      >
                    </div>
                    <div class="col-6 mb-0 mt-4">
                      <a
                        href="member.html"
                        id="notSubmit"
                        class="btn bg-gradient-dark"
                        style="width: 100%"
                        >稍後驗證</a
                      >
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ===================================================== -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery.nicescroll.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/c89374f433.js"
      crossorigin="anonymous"
    ></script>
    <script>
      $("#submit").on("click", function (e) {
        e.preventDefault();
        let verificationCode = {
          verificationCode: $("#verificationCode").val(),
        };
        console.log(verificationCode);

        $.ajax({
          url: END_POINT_URL + COLLECTION_POINT,
          type: "POST",
          data: verificationCode,
          dataType: "json",
          beforeSend: function (xhr) {
            console.log("beforeSend");
          },
          success: function (data) {
            // console.log("success");
            console.log(data);
            redirectPath(data);
          },
          complete: function (xhr) {
            console.log("complete");
          },
        });
        function redirectPath(data) {
          // alert("function");
          switch (data.status) {
            case "verified":
              alert("使用者已驗證，網頁將重新導向至首頁！");
              location.href = "home-03.html";
              break;
            case "failed":
              alert("驗證碼輸入錯誤，請重新輸入！");
              break;
            case "success":
              alert("驗證成功，網頁將重新導向至首頁！");
              location.href = "home-03.html";
              break;
            default:
              alert("怎會跑到這，先回會員中心吧:D");
              location.href = "member.html";
          }
          // if (data.status == "failed") {
          //   alert("驗證錯誤，請重新輸入！");
          //   $("#verificationCode").val("");
          // } else if (data.status == "succeed") {
          //   alert("資料驗證完成，網頁將重新導向至首頁！");
          //   location.href = "home-03.html";
          // }
        }
      });

      $("#notSubmit").on("click", function () {
        alert("稍後可於會員中心再次驗證，將轉導至會員中心。");
      });
    </script>
  </body>
</html>
